body {
	text-transform: uppercase;
	color: var(--secondary-color);
	-webkit-font-smoothing: antialiased;
	background-color: var(--background-color);
}

main {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: var(--gap-padding);
}