:root {
	/* Colors */
	--primary-color: #fff;
	--secondary-color: #2e3d44;
	--tertiary-color: orange;
	--quaternary-color: black;

	/* Font-families */
	--cinzel-font: 'Cinzel', serif;
	--ace-font: 'Bruno Ace SC', cursive;

	/* Font-sizes */
	--heading-text: 2.188rem;
	--sub-text: 1.875rem;
	--nav-text: 1.5rem;
	--body-text: 1rem;
	--small-text: 0.875rem;

	--heading-text-mobile: 1.313rem;
	--sub-text-mobile: 1.125rem;
	--body-text-mobile: 0.875rem;
	--small-text-mobile: 0.75rem;

	/* Gaps */
	--gap-row: 1rem;
	--gap-column: 1rem;
	--gap-padding: 1rem;
	--gap-section: 2rem;
	--gap-box-padding: 1rem;
	--gap-button-padding: 0.5rem;
}