header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	position: sticky;	
	flex-flow: row;
	justify-content: space-between;
	background-color: var(--primary-color);
	padding: 1rem 9%;
}

.header-navigation {
	display: flex;
	flex-flow: column;
}

.general-navigation {
	display: flex;
	justify-content: end;
	border-bottom: solid 1px var(--secondary-color);
}

.general-link {
	font-size: var(--small-text);
	padding: 1rem;
}

.general-navigation ul.menu li a {
	font-size: var(--small-text);
	padding: 1rem;
}

.main-navigation {
	display: flex;
	flex-flow: row;
	margin-top: 1rem;
}

.product-navigation {
	display: flex;
	justify-content: space-between;
}

.product-navigation ul.menu li a {
	font-size: var(--body-text);
	padding: 1rem;
}

.menu {
	display: flex;
	list-style-type: none;
}
 
.general-navigation ul.menu li, 
.product-navigation ul.menu li {
	position: relative;
	text-align: center;
}

.menu-link {
	color: var(--secondary-color);
	font-family: var(--ace-font);
}

.menu-link:hover {
	color: var(--tertiary-color);
}
 
.dropdown {
	display: none;
	position: absolute;
	align-items: center;
	top: 100%;
	/* left: 0; */
	/* padding: 1rem; */
	z-index: 1;
}

.general-navigation ul.menu li:hover .dropdown,
.product-navigation ul.menu li:hover .dropdown {
	display: block;
	background-color: var(--primary-color);
	min-width: 8rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 3;
}
 
.dropdown a {
	display: block;
	color: var(--secondary-color);
	text-align: center;
}

.dropdown a:hover {
	color: var(--tertiary-color);
}

.user-options {
	display: flex;
	justify-content: end;
	flex-flow: row;
}

.navigation-icon {
	font-size: var(--nav-text);
	color: var(--secondary-color);
	cursor: pointer;
	margin: 0 1rem;
}

#cart-icon {
	color: var(--secondary-color);
}

#cart-icon:hover {
	color: var(--tertiary-color);
	text-decoration: none;
}

#menu-bars {
	display: none;
}

@media (max-width: 1024px) {
	
	header {
	  flex-direction: row;
	}

	.general-navigation,
	.product-navigation {
		display: none;
	}

	.general-navigation.active {
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		position: fixed;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		background: var(--secondary-color);
	}

	.product-navigation.active {
		left: 0;
		right: 0;
		top: 10vh;
		display: flex;
		position: fixed;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		background: var(--secondary-color);
	}

	.menu-link {
		margin: 1rem;
		padding: 1rem;
		display: flex;
		border: 1px solid white;
		font-size: var(--sub-text);
		color: var(--primary-color);
	}

	#menu-bars {
		display: block;
	}

	#menu-bars:hover {
		color: var(--tertiary-color);
	}

	.fa-times {
		font-size: 2rem;
	}
}