.main-products {
	margin: 1rem;
	width: 92.5vw;
	background-color: var(--primary-color);
}

.product-header {
	padding: 1rem;
	text-align: center;
	font-size: var(--heading-text);
}

.products-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: var(--gap-column);
}

.product-item__container {
	position: relative;
	padding: 1rem;	
	margin: 1.5rem;
	background-color: var(--background-color);
}

/* .product-item {
	position: relative;
	padding: 1rem;	
	margin: 1.5rem;
	background-color: var(--background-color);
} */

.product-item:hover {
	transform: scale(1.03);
	border: .025rem solid var(--secondary-color);
	border-radius: 0 0 .3rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}

.product-item__title {
	padding: 1rem;
	text-align: center;
	color: var(--secondary-color);
	font-size: 1.35rem;
	font-size: var(--body-text);
	font-family: var(--ace-font);
	border-bottom: 2px solid var(--secondary-color);
}

.product-item__price {
	font-size: var(--sub-text);
	color: var(--secondary-color);
}

.product-item__content {
	color: var(--primary-color);
}

.product-item__add {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	background: var(--secondary-color);
	font-size: var(--body-text);
	padding: 1rem;
	cursor: pointer;
	border-radius: 0 0 .3rem;
}

.bx-shopping-bag {
	color: var(--primary-color);
}

.bx-shopping-bag:hover {
	transform: scale(1.03);
}

@media only screen and (max-width: 1400px) {
	.products-container {
		grid-template-columns: repeat(3, 1fr);
		gap: .25rem;
	}

	.product-item__title {
		font-size: var(--body-text);
	}
}

@media only screen and (max-width: 1024px) {
	.products-container {
		grid-template-columns: repeat(2, 1fr);
		gap: .25rem;
	}
}

@media only screen and (max-width: 768px) {
	.products-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

