.product-container {
	width: 80vw;
	background-color: var(--background-color);
}

.static-product {
	position: relative;
	padding: 0 1rem;
	background-color: var(--primary-color);
}

.static-product__title {
	padding: 1rem;
	text-align: center;
	color: var(--secondary-color);
	font-size: 1.35rem;
	font-size: var(--nav-text);
	font-family: var(--ace-font);
	border-bottom: 2px solid var(--secondary-color);
}

.static-product__devider {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.static-product__image {
	width: 100%;
}

.static-product__details {
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}

.static-product__description {
	margin-top: 1rem;
	font-size: var(--body-text);
}

.static-product__price {
	font-size: var(--sub-text);
	color: var(--secondary-color);
}

.static-product__add {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	width: 20%;
	background: var(--secondary-color);
	font-size: var(--nav-text);
	padding: 1rem;
	cursor: pointer;
	border-radius: 0 0 .3rem;
}

/* .bx-shopping-bag {
	color: var(--primary-color);
} */

/* .bx-shopping-bag:hover {
	transform: scale(1.03);
} */



@media only screen and (max-width: 1400px) {
	
	.static-product__title {
		font-size: var(--body-text);
	}
}

@media only screen and (max-width: 768px) {
	
	.static-product__title {
		font-size: var(--body-text-mobile);
	}

}

@media only screen and (max-width: 500px) {

	.static-product__price {
		font-size: var(--nav-text);
	}

	.static-product__description {
		font-size: var(--small-text-mobile);
	}

}

@media only screen and (max-width: 400px) {

	.static-product__price {
		font-size: var(--nav-text-mobile);
	}

}